@use '../../styles/variables.scss' as *;

.ruler {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: $timeline-ruler;
  border-bottom: 1px solid $border-color;
  z-index: 100;
}

.mark {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tick {
  width: 1px;
  height: 40%;
  background-color: $text-tertiary;
  margin-left: $spacing-md;
}

.label {
  position: absolute;
  top: 50%;
  left: $spacing-md;
  font-size: 10px;
  color: $text-secondary;
  transform: translateY(-50%);
  user-select: none;
}